@font-face {
    font-family: 'AbyssinicaSIL-Regular';
    src: url("assests/fonts/AbyssinicaSIL-Regular.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'SourceSanspro';
    src: url("assests/fonts/SourceSansPro-BlackItalic.ttf");
    font-weight: 300;
}
body {
    font-family: "AbyssinicaSIL-Regular", "SourceSanspro";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}
