@font-face {
    font-family: 'AbyssinicaSIL-Regular';
    src: url("assests/fonts/AbyssinicaSIL-Regular.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'SourceSanspro';
    src: url("assests/fonts/SourceSansPro-BlackItalic.ttf");
    font-weight: 300;
}
body {
    font-family: "AbyssinicaSIL-Regular", "SourceSanspro";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color: red;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 40px;
    color: #374566;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}
header {
    background-color: teal;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }